In [3]:
import numpy as np
import pandas as pd
from sklearn import tree

In [11]:
df=pd.read_csv("DecisionTreesClassificationDataSet.csv")
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N

In [5]:
# scikit-learn kütüphanesi decision tree'lerin düzgün çalışması için herşeyin rakamlsal olmasını bekliyor 
# bu yüzdenveri setimizdeki tüm Y ve N değerlerini 0 ve 1 olarak düzeltiyoruz. 
# Aynı sebeple eğitim seviyesini de BS:0 MS:1 ve PhD:2 olarak güncelliyoruz. map() kullanarak boş hücreler veya geçersiz 
# değer girilen hücreler NaN ile doldurulacaktır.

In [12]:
duzeltme_mapping={"Y":1,  "N":0}

df["IseAlindi"]=df["IseAlindi"].map(duzeltme_mapping)
df["SuanCalisiyor?"]=df["SuanCalisiyor?"].map(duzeltme_mapping)
df["Top10 Universite?" ]=df["Top10 Universite?" ].map(duzeltme_mapping)
df["StajBizdeYaptimi?"]=df["StajBizdeYaptimi?"].map(duzeltme_mapping)
duzeltme_mapping_egitim={"BS": 0, "MS":1,"PhD": 2}
df["Egitim Seviyesi"]=df["Egitim Seviyesi"].map(duzeltme_mapping_egitim)
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,1,4,0,0,0,1
1,0,0,0,2,1,1,1
2,5,1,2,1,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

In [13]:
# sonuc sütünunu ayırıyoruz.eğitmek için

In [14]:
y=df["IseAlindi"]
x=df.drop(["IseAlindi"],axis=1)

In [15]:
x.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?
0,11,1,4,0,0,0
1,0,0,0,2,1,1
2,5,1,2,1,0,1
3,3,0,1,0,0,1
4,0,0,0,0,0,0

In [16]:
# decision tree oluşturuyoruz

In [17]:
clf=tree.DecisionTreeClassifier()
clf=clf.fit(x,y)

In [19]:
# 5 yıl deneyim,bir yerde çalışan,3 eski şirkette çalışmış,eğitim lisans,top10 mezunu değil

In [20]:
print(clf.predict([[5,1,3,0,0,0,]]))

[1]

C:\Users\veyse\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [21]:
# 2 yıllık iş deneyimi,7 kez iş değiştirmiş iyi okul mezunu şuan çalışmıyor

In [22]:
print(clf.predict([[2,0,7,0,1,0]]))

[0]

C:\Users\veyse\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [24]:
print(clf.predict([[20,1,1,1,1,1]]))

[1]

C:\Users\veyse\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [26]:
print(clf.predict([[0,0,0,0,0,0]]))

[0]

C:\Users\veyse\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(